VITE_AUTH_SUPABASE_URL=https://xcvffxzivlefjofueiei.supabase.co
VITE_AUTH_SUPABASE_PUBLISHABLE_KEY=your_public_auth_project_key
VITE_DATA_SUPABASE_URL=https://cbfettdbdjlgbjxzwvps.supabase.co
VITE_DATA_SUPABASE_PUBLISHABLE_KEY=your_public_data_project_key
VITE_GOOGLE_CLIENT_ID=your_public_google_oauth_client_id.apps.googleusercontent.com
